<header>
  <nav class="navbar navbar-expand-sm navbar-light header-top-image">
    <div class="container">
      <%= link_to "Make enjoy life", root_path, class: "navbar-brand header-title" %>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <% if user_signed_in? %>
          <ul class="navbar-nav ml-auto">
            <li class="m-3">
              <%= link_to "マイページ", user_path(current_user), class: "btn btn-outline-dark btn-sm" %>
            </li>
            <li class="m-3">
              <% if unchecked_notifications.any? %>
              <i class="fa fa-circle" style="color: #FF00FF;"></i>
            <% end %>
              <%= link_to "通知", notifications_path, class: "btn btn-outline-dark btn-sm" %>
            </li>
            <li class="m-3">
              <%= link_to "会員一覧", users_path, class: "btn btn-outline-dark btn-sm" %>
            </li>
            <li class="m-3">
              <%= link_to '投稿フォーム', new_post_path, class: "btn btn-outline-dark btn-sm" %>
            </li>
            <li class="m-3">
              <%= link_to "投稿一覧", posts_path, class: "btn btn-outline-dark btn-sm" %>
            </li>
            <li class="m-3">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-dark btn-sm" %>
            </li>
          </ul>
        <% else %>
          <ul class="navbar-nav ml-auto">
            <li class="m-3">
              <%= link_to "トップページ", root_path, class: "btn btn-outline-dark btn-sm" %>
            </li>
            <li class="m-3">
              <%= link_to "サイト紹介", about_path, class: "btn btn-outline-dark btn-sm" %>
            </li>
            <li class="m-3">
              <%= link_to "投稿一覧", posts_path, class: "btn btn-outline-dark btn-sm" %>
            </li>
            <li class="m-3">
              <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-dark btn-sm" %>
            </li>
            <li class="m-3">
              <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-dark btn-sm" %>
            </li>
            <li class="m-3">
              <%= link_to "ゲストログイン", homes_guest_sign_in_path, method: :post, class: "btn btn-outline-dark btn-sm" %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>
</header>